<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}" />
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div>
    <form method = "post">
        <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}" />
        <input type = "text" name = "text" placeholder="Текст поста" />
        <input type = "text" name = "tag" placeholder="Ключевое слово" >
        <button type = "submit">Запостить</button>

    </form>
</div>

<div>Список постов</div>
<form method = "post" action = "filter">
      <input type = "text" name = "filter">
      <button type = "submit">Поиск по ключевому слову</button>
      <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}" />
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>

{{/messages}}

</body>
</html>